@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <div class="mainr">

<div class="ghj">
    <h1 class="textdi" >Welcome this is our pay roll page</h1>
    <p text-color:white ><bold> the platform for your salary information</bold>

    </p>
  
</div>

<div class="lkj">
<p>
    well this is index page 





</p>
<section background-color:grey>
    <p>

        this is index page


        you can login through the above navigation bar to login

    </p>
</section>
<section >
    <p>

        when you login using your login information it will display your job details and your salary information
    </p>
</section>
</div>



<p>

</p>




<div>
    <img src="~/css/image2.png" />
    
</div>
</div>

